# Database Configuration for Azure / Production
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/ai_business_advisor
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=advisor@123

# Active Spring Profile
SPRING_PROFILES_ACTIVE=prod

# Server Port
PORT=8080
